[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-telegram-bot = "*"
coloredlogs = "*"
fastapi = "*"
uvicorn = "*"
slack_sdk = "*"

[dev-packages]

[requires]
python_version = "3.10"
